.countrystyle {
  margin: 20px;
  padding: 15px;
  padding-top: 0;
  border-radius: 10px;
}

.title {
  text-align: center;
}

.visited{
  border: 1px solid rgba(255, 255, 255, 0.178);
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fontxl{
  font-size: xx-large;
}
.btn{
  height: 40px;
  width: 100px;
}